/* src/App.css */
body,
html {
  margin: 160px;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.app {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Align text content to center */
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
}

.App-header {
  /*background-color: #282c34; */
  padding: 20px;
  color: white;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

main {
  padding: 80px 20px 20px; /* Adjusted padding to account for the fixed navbar */
}

section {
  margin-bottom: 40px;
}

/* Center the text in the about-me section */
#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%; /* Ensures full height of the container */
}
#about {
  text-align: left;
  align-items: left;
  justify-content: left;
}
.image-content img.left-aligned-image {
  max-width: 100%;
  height: auto;
  margin-right: 20px; /* Adjust the margin to move the image to the left */
}
:root {
  --initial-color: #3498db;
  --color-1: #e74c3c;
  --color-2: #27ae60;
  --color-3: #f39c12;
}
.social-buttons {
  margin-top: 15px;
}

.social-buttons a {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
  color: #4d4c4c;
  font-size: 18px;
}

.social-buttons i {
  margin-right: 5px;
}
h1 {
  font-size: 4rem;
  font-weight: bold; /* Make the text bold */
  margin-bottom: 10px;
  position: relative;
  animation: colorChange 8s infinite linear; /* Use a keyframes animation named 'colorChange' for 15 seconds, with a linear timing function, and repeat indefinitely */
}

@keyframes colorChange {
  0% {
    color: var(--initial-color); /* Initial color */
    text-shadow: 0 0 10px rgba(var(--initial-color-rgb), 0.8); /* Subtle bloom effect synced with text color */
  }
  25% {
    color: var(--color-1); /* Color 1 */
    text-shadow: 0 0 10px rgba(var(--color-1-rgb), 0.8); /* Subtle bloom effect synced with text color */
  }
  50% {
    color: var(--color-2); /* Color 2 */
    text-shadow: 0 0 10px rgba(var(--color-2-rgb), 0.8); /* Subtle bloom effect synced with text color */
  }
  75% {
    color: var(--color-3); /* Color 3 */
    text-shadow: 0 0 10px rgba(var(--color-3-rgb), 0.8); /* Subtle bloom effect synced with text color */
  }
  100% {
    color: var(--initial-color); /* Back to the initial color */
    text-shadow: 0 0 10px rgba(var(--initial-color-rgb), 0.8); /* Subtle bloom effect synced with text color */
  }
}

p {
  font-size: 1.2rem;
  color: #888;
}
